.landing-logo {
    display: block;
    width: 100%;
    max-width: 40rem;
    margin: auto;
}

.landing-logo_corner {
    fill: none;
    stroke: var(--color-primary);
    stroke-miterlimit: 10;
    stroke-width: 3.5px;
    transition: none;
}

.logo-small {
    display: block;
    height: 100%;
    height: 100%;
}

.logo-small_corner {
    fill: var(--color-primary);
}

.logo-small_letter,
.landing-logo_letter {
    fill: var(--color-text-main);
    transition: 1s;
}